.modalContainer {
  width: 350px;
  height: 500px;
  border: none;
  border-radius: 8px;
  background-color: #8576ff;
  position: relative;
}
.modalHeader {
  width: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
  background-color: #000000;
  padding: 16px;
  border: none;
  border-radius: 8px 8px 0 0;
}
.modalHeaderText {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.modalHeader h3 {
  font-size: 20px;
}
.modalHeader p {
  font-size: 14px;
}
.closeBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}
.modalBody {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.bodyElement {
  width: calc(100% - 32px);
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
.bodyElement img {
  width: 24px;
  height: 24px;
}
.bodyElement h3 {
  font-size: 18px;
  color: #000000;
}
.brandingIcon {
  margin-top: 40px;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
